body{
	overflow:hidden;
	background-color: #a0ddf2;
	margin-top:-2vh;
}

.clickarea{
	opacity:0;
}

.legend{
	margin-left:3vw;
	cursor:default;
}

svg{
	position:absolute;
	height:100%;
	width:100%;
	margin-left:-3vw;
}

g{
	transition: 0.3s all;
}

rect{
	transform:translate(-5vw),;
}

rect:hover{
	cursor:crosshair;
}

.Parkside2{
	opacity: 0;
}

.Parkside {
	z-index: 100;
}

.Potrero2{
	opacity: 0;
}

.Potrero {
	z-index: 100;
}

.Lakeshore2{
	opacity: 0;
}

.Lakeshore {
	z-index: 100;
}

.OuterSunset2{
	opacity: 0;
}

.OuterSunset {
	z-index: 100;
}

.InnerSunset2{
	opacity: 0;
}

.InnerSunset {
	z-index: 100;
}

.GoldenGatePark2{
	opacity: 0;
}

.OuterRichmond2{
	opacity: 0;
}

.OuterRichmond {
	z-index: 100;
}

.InnerRichmond2{
	opacity: 0;
}

.InnerRichmond {
	z-index: 100;
}

.Excelsior2{
	opacity: 0;
}

.Excelsior{
	z-index: 100;
}

.OuterMission2{
	opacity: 0;
}

.OuterMision{
	z-index: 100;
}

.OceanView2{
	opacity: 0;
}

.OceanView{
	z-index: 100;
}

.WTwinPeaks2{
	opacity: 0;
}

.WTwinPeaks{
	z-index: 100;
}

.SOMA2{
	opacity: 0;
}

.SOMA{
	z-index: 100;
}

.Mission2{
	opacity: 0;
}

.Mision{
	z-index: 100;
}

.NoeValley2{
	opacity: 0;
}

.NoeValley{
	z-index: 100;
}

.Castro2{
	opacity: 0;
}

.Castro{
	z-index: 100;
}

.HaightAshbury2{
	opacity: 0;
}

.HaightAshbury{
	z-index: 100;
}

.PacificHeights2{
	opacity: 0;
}

.PacificHeights{
	z-index: 100;
}

.WesternAddition2{
	opacity: 0;
}

.WesternAddition{
	z-index: 100;
}

.Downtown2{
	opacity: 0;
}

.Downtown{
	z-index: 100;
}

.FinancialDistrict2{
	opacity: 0;
}

.FinancialDistrict{
	z-index: 100;
}

.Chinatown2{
	opacity: 0;
}

.Chinatown{
	z-index: 100;
}

.NobHill2{
	opacity: 0;
}

.NobHill{
	z-index: 100;
}

.Marina2{
	opacity: 0;
}

.Marina{
	z-index: 100;
}

.RussianHill2{
	opacity: 0;
}

.RussianHill{
	z-index: 100;
}

.NorthBeach2{
	opacity: 0;
}

.NorthBeach{
	z-index: 100;
}

.Presidio2{
	opacity: 0;
}

.Presidio{
	z-index: 100;
}

.Bayview2{
	opacity: 0;
}

.Bayview{
	z-index: 100;
}

