body {
	height: 4000px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#sky1, #sky2, #sky3, #sky4, #sky5, #sky6{
	position:fixed;
	height:80%;
	margin-top:8vh;
	z-index:500;
}

#sky2, #sky3, #sky4, #sky5, #sky6{
	opacity: 0;
}


#sky1{margin-left:31vw;}
#sky2{margin-left:34.8vw;}
#sky3{margin-left:30.8vw;}
#sky4{margin-left:30.8vw; margin-top:10vh;}
#sky5{margin-left:31vw; margin-top:12vh;}
#sky6{;margin-left:31vw;}

.zoom{
	transform-origin:center;
	transform:scale(2.5);
	transition:2s ease;
	z-index:500;
}

#ornament{
	fill:darkgoldenrod;
	height:5vh;
	margin-top:7vh;
	margin-bottom:4vh;
}