/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: helvetica, arial, sans-serif;
}

/* container */

.container {
	position: relative;
}

/* items */

.item {
	height: 300px;
	width: 300px;
	background: blue;
	color: yellow;

	margin: 10px;

	/* comment out 'float: left;' to have items stack in a single column */
	float: left; 

	/* uncomment this to get CSS transitions (conflicts with jQuery) */
	 transition: all 500ms ease; 
}

/* example buttons */

#button-1:hover {
	transform: rotate(90deg) scale(1.5);
	opacity: .3;
}

#button-1:active {
	background: pink;
	opacity: 1;
}

/* example buttons */

#button-2::after {
	content: 'this is added after the content inside the button';
	color: white;
}


#button-2:hover::after {
	content: 'this text changes on hover';
	color: red;
}

#button-4{	
	background:red;
}

#button-4:hover{
	background:grey;
}

#button-4:active{
	background:yellow;
}

#button-5{
	background:lavender;
	border-radius:300px;
}

#button-5:hover{
	transform: translateY(-100px);
}

#button-5:active{
	transform: scale(0.5);
}

#button-6{
	background:pink;
}

#button-6:hover{
	border-radius:70px;
}

#button-6:active{
	border-radius:300px;
}

#button-7{
	background:purple;
}

#button-7:hover{
	transform:scale(2);
	border-radius:300px;
	mix-blend-mode: multiply;
}

#button-7:active{
	mix-blend-mode: color;
}
}

