/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: helvetica, arial, sans-serif;
	background:#EEEEEE;
}

/* container */

.container {
	position: relative;
}

/* items */

.item {
	height: 33.4vh;
	width: 25vw;
	background: black;
	color: yellow;
	text-align:center;

	margin: 0px;

	/* comment out 'float: left;' to have items stack in a single column */
	float: left; 

	/* uncomment this to get CSS transitions (conflicts with jQuery) */
/*	 transition: all 500ms ease; */
}

/* 1-4 */

#button-1{
	background:beige;
	transition:0.5s ease;
}

#button-1:hover {
	background: pink;
	transition:0.5s ease;
}

#button-1:hover::after {
	content:'SHY';
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 1pt;
	transition:0.5s ease;
}

#button-1:active{
	background:red;
	border-radius:100px;
	transition:0.5s ease;
}

#button-1:active::after {
	content:'REALLY SHY';
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
	transition:0.5s ease;
}


#button-2{	
	background:lightgreen;
	transition:0.5s ease;
}

#button-2:active{
	animation-name: annoying;
	animation-duration:0.5s;
	animation-iteration-count: infinite;
	transition:0.5s ease;
}

@keyframes annoying {
  0% {
  	background:lime;
  }
  25%{
  	background:black;
  }
  50% {
  	background:lime;
  }
  75% {
  	background:black;
  }
  100% {
  	background:lime;
  }
}

#button-2:hover{
	background:lime;
	transition:0.5s ease;
}

#button-2:hover::after{
	content:'LOUD';
	color:black;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
	transition:0.5s ease;
}

#button-3{
	background:orange;
}

#button-3:hover::after{
	content:'BYE';
	color:black;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
}

.bye{
	transform:translateX(1000px);
	transition:ease 2s;
}

#button-5{
	background:lavender;
	transition:0.5s ease;
}

#button-5:hover{
	background:lavender;
	transition:0.5s ease;
}

#button-5:hover::after{
	content:'QUIET';
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
	transition:0.5s ease;
}

#button-5:active{
	opacity:0;
	transition:0.5s ease;
}

#button-4{
	background:tan;
	transition:0.5s ease;
}

#button-4:active{
	border-radius:70px;
	animation-duration: 1s;
	animation-iteration-count: infinite;
  	animation-name: tickle;
  	transition:0.5s ease;
}

#button-4:hover::after{
	content:'TICKLISH';
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
	transition:0.5s ease;
}

@keyframes tickle {
  0% {
  	border-radius:70px;
  }
  10%{
  	border-radius:100px;
  }
  20% {
  	border-radius:70px;
  }
  30% {
  	border-radius:100px;
  }
  50% {
  	border-radius:70px;
  }
  60%{
  	border-radius:100px;
  }
  70%{
  	border-radius:70px;
  }
  80% {
    border-radius:100px;
  }
}

.sun{
	position: relative;
	left: 35%;
	top: 30%;
	width:100px;
	height:100px;
	border-radius:100px;
	background-color:#FFD111;
	opacity: 0;
}

.sun1{
	opacity: 1;
}

#button-6{
	background:skyblue;
}

#button-6:hover:after{
	content:"GOOD MORNING";
	color:white;
	line-height:8vh;
	font-size:18pt;
	letter-spacing: 2pt;
}

#button-7{
	background-color:brown;
	color:black;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
	transition: 1s ease ;
}

.replace{
	transform:translateY(-33.3vh);
	transition: 1s ease ;
	opacity:0;
}

#button-7:hover:after{
	content:"DISGUISED";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
}

#button-8{
	background-color:navy;
}

#button-8:hover:after{
	content:"GOOD NIGHT";
	color:white;
	line-height:8vh;
	font-size:18pt;
	letter-spacing: 2pt;
}

.moon{
	position: relative;
	width: 100px;
  	height: 100px;
  	border-radius: 50%;
  	box-shadow: 25px 25px 0 0 #FFFF99;
	left: 25%;
	top: 20%;
	opacity: 0;
}

.moon1{
	opacity: 1;
}

#button-9{
	background-color:pink;
	transition: 2s ease;
}

#button-9:hover:after{
	content:"NOM NOM NOM";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
	transition: 2s ease;
}

.eat{
	width:100vw;	
	transition: 2s ease;
}

#button-10{
	background-color:green;
}

.bread{
	background-color:tan;
	height:5.7vh;
	position:relative;
}

.burger{
	opacity:0;
	transition: 0.1s ease;
}

.burger1{
	opacity:1;
	transition: 0.1s ease;
}

.lettuce{
	background-color:green;
	height:5.5vh;
	position:relative;
}

.tomato{
	background-color:tomato;
	height:5.5vh;
	position:relative;
}

.cheese{
	background-color:yellow;
	height:5.5vh;
	position:relative;
}

.meat{
	background-color:#4B280F;
	height:5.5vh;
	position:relative;
}

#button-11{
	background-color:#F4D53B;
}

.sushi{
	opacity:0;
	transition: 0.1s ease;
}

.sushi1{
	opacity:1;
	transition: 0.1s ease;
}

.nori{
	background-color:black;
	height:33.4vh;
	width:5vw;
	left:60vw;
	position:absolute;
}

.rice1{
	background-color:#fffff1;
	height:22.4vh;
	width:10vw;
	position:absolute;
	top:77.8vh;
}

.rice2{
	background-color:#fffff1;
	height:22.4vh;
	left:65vw;
	width:10vw;
	position:absolute;
	top:77.8vh;
}

#button-12{
	background-color:tomato;
}

.fries{
	opacity:0;
	transition: 0.1s ease;
}

.fries1{
	opacity:1;
	transition: 0.1s ease;
}

.fry1{
	background-color:yellow;
	height:20vh;
	width:2.5vw;
	left:77.5vw;
	position:absolute;
}

.fry2{
	background-color:yellow;
	height:20vh;
	width:2.5vw;
	left:82.5vw;
	position:absolute;
}

.fry3{
	background-color:yellow;
	height:20vh;
	width:2.5vw;
	left:87.5vw;
	position:absolute;
}

.fry4{
	background-color:yellow;
	height:20vh;
	width:2.5vw;
	left:92.5vw;
	position:absolute;
}

.fry5{
	background-color:yellow;
	height:20vh;
	width:2.5vw;
	left:97.5vw;
	position:absolute;
}

.fry6{
	background-color:#F4D53B;
	height:20vh;
	width:2.5vw;
	left:75vw;
	position:absolute;
}

.fry7{
	background-color:#F4D53B;
	height:20vh;
	width:2.5vw;
	left:80vw;
	position:absolute;
}

.fry8{
	background-color:#F4D53B;
	height:20vh;
	width:2.5vw;
	left:85vw;
	position:absolute;
}

.fry9{
	background-color:#F4D53B;
	height:20vh;
	width:2.5vw;
	left:90vw;
	position:absolute;
}

.fry10{
	background-color:#F4D53B;
	height:20vh;
	width:2.5vw;
	left:95vw;
	position:absolute;
}

#button-13{
	background-color:#82DBDD;
}

#button-13:hover{
	width: 25vw;
	height: 33.4vh;
	color: #fff;
	background: linear-gradient(-45deg, #82DBDD, #21A4CB, #05569E ,#001B4B);
	background-size: 400% 400%;
	animation: ocean 5s ease infinite;
}

#button-13:hover:after{
	content:"FISHY";
	color:white;
	line-height:0vh;
	font-size:18pt;
	letter-spacing: 2pt;
	transition: 2s ease;
}

.fishbody{
	position: relative;
  	margin-top: 12vh;
  	margin-left: 7.5vw;
  	background-color: orange;
  	border-radius: 50%;
  	width: 8vw; 
  	height: 10vh;
}

.fishtail{
	width: 0;
	height: 0;
	border-top: 4vh solid transparent;
	border-right: 8vh solid orange;
	border-bottom: 4vh solid transparent;
	margin-top:-9vh;
  	margin-left: 12.5vw;
}

.fisheye{
	position: relative;
  	margin-top: -5vh;
  	margin-left: 8vw;
	width:1vh;
	height:1vh;
	border-radius:1vh;
	background-color:black;
}

.fish{
  opacity:0;
  transition: 0.5s ease;
}

.fish1{
	opacity:1;
	transition: 0.5s ease;
}


@keyframes ocean {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#button-14{
	background-color:lightgrey;
}

@keyframes look{
	0%{
		transform:translateX(-40px);
	}
	25%{
		transform:translateY(20px);
	}
	50%{
		transform:translateX(-50px);
	}
	75%{
		transform:translateY(-25px);
	}
	100%{
		transform:translateX(-40px);
	}
}

#button-14:hover:after{
	content:'CREEPY';
	color:black;
	top:-10vh;
	font-size:18pt;
	letter-spacing: 2pt;
	transition: 2s ease;
	position:relative;
}

.whole{
	opacity:0;
	transition:0.5s ease;
}

.whole1{
	opacity:1;
	transition:0.5s ease;
}

.eye {
  	width: 10vw;
  	height: 10vw;
	background-color:white;
  	border-radius:  75% 1%;
  	position: relative;
  	transform: rotate(45deg);
  	left:7vw;
  	top:8vh;
}

.eyeball {
  	position: relative;
  	width: 8vh;
  	height: 8vh;
  	background-color:black;
  	border-radius: 50%;
  	left: 10vw;
  	top: -5vh;
  	animation: look 5s ease infinite;
}


#button-15{
	background-color:indigo;
}

#button-15:hover:after{
	content:"DIETING";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
}

#button-16{
	background-color:#D50077;
	transition:3s ease;
}

#button-16:hover:after{
	content:"ON WEDNESDAYS";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
}

#button-16:active{
	border-radius:100vh;
	transform:scale(10);
	transition:3s ease;
}

#button-16:active:after{
	color:#D50077
}

#button-17{
	background-color:#FFA378;
	transition:1s ease;
}

#button-17:hover:after{
	content:"INSIDE OUT";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
	transition:1s ease;
}

.invert{
	filter:invert(100);
	transition:1s ease;
}

#button-18{
	background-color:grey;
	transition:1s ease;
}

#button-18:hover:after{
	content:"OLD TV";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
	transition:1s ease;
}

.grayscale{
	filter:grayscale(100);
	transition:1s ease;
}

#button-19{
	background-color:blue;
	transition:1s ease;
}

#button-19:hover:after{
	content:"LOST MY GLASSES";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
	transition:1s ease;
}

.blur{
	filter:blur(20px);
	transition:1s ease;
}

#button-20{
	background-color:#E8D28D;
	transition: 5s ease;
}

.flood{
	transform:scale(10);
	background: linear-gradient(-90deg, #82DBDD, #21A4CB, #05569E ,#001B4B);
	background-size: 400% 400%;
	animation: ocean 5s ease infinite;
}

#button-21{
	background-color:teal;
}

#button-21:hover:after{
	content:"CLONE";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
}

#button-22{
	background-color:#CBB6FE;
}

#button-22:hover:after{
	content:"HEARTBEAT";
	color:white;
	font-size:18pt;
	letter-spacing: 2pt;
}

.heartbeat{
	width:15vh;
	height:15vh;
	left:8.5vw;
	top:9.5vh;
	position:relative;
	background-color:#F03D63;
	animation: heartbeat 1s ease infinite;
	opacity:0;
}

.heartbeat1{
	opacity:1;
}


@keyframes heartbeat {
	0% {
		border-radius:100vh;		
	}
	50% {
		border-radius:5vh;
	}
	100% {
		border-radius:100vh;
	}
} 

#button-23{
	background-color:#FAFA8B;
}

#button-23:hover:after{
	content:"HAPPY";
	color:black;
	font-size:18pt;
	letter-spacing: 2pt;
}

.happy{
	width:15vh;
	height:15vh;
	left:8.5vw;
	top:9.5vh;
	position:relative;
	background-color:#73C6B6;
	animation: happy 3s ease infinite;
	opacity:0;
}

.happy1{
	opacity:1;
}

@keyframes happy {
	0% {
		transform: rotate(-30deg);
		background-color:#73C6B6;		
	}
	25% {
		transform: rotate(15deg);
		background-color:#8BFAE7;
		border-radius:5vh;
	}
	50% {
		transform: rotate(-30deg);
		background-color:#73C6B6;	
		border-radius:5vh;
	}
	75% {
		transform: rotate(15deg);
		background-color:#8BFAE7;
		border-radius:5vh;
	}
	100% {
		transform: rotate(-30deg);
		background-color:#73C6B6;	

	}
}

#button-24{
	background-color:#974F66;
}

#button-24:hover:after{
	content:"LOADING";
	margin-top:-15vh;
	line-height:0vh;
	color:white;
	font-size:18pt;
	letter-spacing: 2pt;
}

.spin{
	width:15vh;
	height:15vh;
	left:8vw;
	top:9vh;
	border-radius:15vh;
	border: white inset 10px;
	position:relative;
	background-color:#974F66;
	animation: spin 2s ease infinite;
	opacity:0;
}

.spin1{
	opacity:1;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);		
	}
	100% {
		transform: rotate(360deg);	
	}
}

#button-25{
	background-color:#C8FF37;
}

#button-25:hover:after{
	content:"PLANT CELL";
	line-height:33vh;
	color:black;
	font-size:18pt;
	letter-spacing: 2pt;
}

#button-25:active{
	background-color:green;
	transition: 1s ease;
	border-radius:100vh;
}

#button-25:active:after{
	content:"PLANT CELL";
	line-height:33vh;
	color:white;
	font-size:18pt;
	letter-spacing: 2pt;
	transition: 1s ease;
}


#button-26{
	background-color:#D86666;
	transition: 2s ease;
}

#button-26:hover:after{
	content:"SQUISH";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
	transition: 2s ease;
}

#button-26:active{
	background-color:#D86666;
	animation: slide 2s ease infinite;
}

@keyframes slide {
	0%{
		transform:scaleY(1);
		background-color:#D86666;
	}
	50%{
		transform:scaleY(0);
		background-color:pink;
	}
	100%{
		transform:scaleY(1);
		background-color:#D86666;
	}
}

#button-27{
	background-color:#63E5FF;
	overflow:hidden;
}

#button-27:hover:after{
	content:"TAKEOVER";
	color:black;
	line-height:8vh;
	font-size:18pt;
	letter-spacing: 2pt;
	overflow:hidden;
}

.panel{
	width:25vw;
	height:0.1vh;
	background-color:black;
	overflow:hidden;
}

#button-28{
	background-color:white;
	transition: 1s ease;
}

{
	border-radius:100vh;
	transition: 1s ease;
}

.yolk{
	background-color:orange;
	width:12vh;
	height:12vh;
	border-radius:12vh;
	margin-top:10vh;
	margin-left:10vw;
	opacity:0;
}

.yolk1{
	opacity:1;
}

#button-29{
	background-color:pink;
}

#button-29:hover:after{
	background-color:pink;
	content:"SUNRISE";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
}

#button-30{
	background: linear-gradient(45deg, skyblue, pink, yellow);
	overflow:hidden;
	background-size: 400% 400%;
	animation: ocean 5s ease infinite;
}

#button-31{
	background: linear-gradient(45deg, tomato, purple, navy,black);
	overflow:hidden;
	background-size: 400% 400%;
	animation: ocean 5s ease infinite;
}

#button-32{
	background-color:purple;
}

#button-32:hover:after{
	background-color:purple;
	content:"SUNSET";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;

}

.cover1{
	background-color:yellow;
	width:100%;
	height:100%;
	transition: 2s ease;
}

.cover2{
	background-color:tomato;
	width:100%;
	height:100%;
	transition: 2s ease;
}

.dot1{
	background-color:#FFD111;
	width:7vw;
	height:7vw;
	border-radius:7vw;
	margin-top:10vh;
	margin-left:9vw;
	transition: 2s ease;
}

.dot2{
	background-color:#FFD111;
	width:7vw;
	height:7vw;
	border-radius:7vw;
	margin-top:10vh;
	margin-left:9vw;
	transition: 2s ease;
}

#button-33{
	background-color:maroon;
	overflow:hidden;
}

#button-33:hover:after{
	content:"DESTRUCTIVE";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
	overflow:hidden;
}

#button-34{
	background-color:#6D80B9;
	overflow:hidden;
}

#button-34:after{
	content:"UNDERWHELMING";
	color:white;
	line-height:33vh;
	font-size:18pt;
	letter-spacing: 2pt;
	overflow:hidden;
}

.screen{
	background-color:#ADB9DC;
	width:25vw;
	height:33.4vh;
	margin-left:0vw;
	overflow:hidden;
	position:relative;
}

#button-35{
	background-color:#98F7B3;
	overflow:hidden;
	z-index:2000;
}

.leaf1{
  	width: 5vw;
  	height: 5vw;
	background-color:green;
  	border-radius:  75% 1%;
  	position: relative;
  	left:12vw;
  	top:9vh;
}

.leaf2{
  	width: 5vw;
  	height: 5vw;
	background-color:green;
  	border-radius:  75% 1%;
  	position: relative;
  	transform: rotate(90deg);
  	left:7vw;
  	top:0vh;
}

.stem{
	width:0.5vw;
	height:20vh;
	background-color:green;
	position: relative;
	left:12vw;
	top:-2vh;
}


.grow{
	background-color:#98F7B3;
	width:25vw;
	height:33.4vh;
	margin-left:0vw;
	overflow:hidden;
	position:relative;
	z-index:1111;
}

#button-36{
	background-color:#FFCE9B;
	overflow:hidden;
}


.pacman {
  	width: 0px;
  	height: 0px;
  	border-right: 60px solid transparent;
  	border-top: 60px solid yellow;
  	border-left: 60px solid yellow;
  	border-bottom: 60px solid yellow;
  	border-top-left-radius: 60px;
  	border-top-right-radius: 60px;
  	border-bottom-left-radius: 60px;
  	border-bottom-right-radius: 60px;
  	position:absolute;
  	margin-left:-2vw;
  	margin-top:8vh;
  	overflow:hidden;
  	animation: pacmaneats 2s ease infinite;
}

.food1{
	margin-top:15vh;
	margin-left:6vw;
	height:2vh;
	width:2vh;
	background-color:orange;
	border-radius:2vh;
	position:absolute;
	overflow:hidden;
}

.food2{
	margin-top:15vh;
	margin-left:10vw;
	height:2vh;
	width:2vh;
	background-color:orange;
	border-radius:2vh;
	position:absolute;
	overflow:hidden;
}

.food3{
	margin-top:15vh;
	margin-left:14vw;
	height:2vh;
	width:2vh;
	background-color:orange;
	border-radius:2vh;
	position:absolute;
	overflow:hidden;
}

.food4{
	margin-top:15vh;
	margin-left:18vw;
	height:2vh;
	width:2vh;
	background-color:orange;
	border-radius:2vh;
	position:absolute;
	overflow:hidden;
}

.food5{
	margin-top:15vh;
	margin-left:22vw;
	height:2vh;
	width:2vh;
	background-color:orange;
	border-radius:2vh;
	position:absolute;
	overflow:hidden;
}

.behind{
	background-color:#FFCE9B;
	width:25vw;
	height:8vh;
	margin-top:12vh;
	margin-left:-25vw;
	position:absolute;
	animation: pacmaneats 2s ease infinite;
	overflow:hidden;
}

.wrapper{
	opacity:0;
}

.wrapper:active{
	opacity:1;
}

@keyframes pacmaneats{
	0%{
		transform:translateX(5vw);
		transition:2s ease;
	}
	25%{
		transform:translateX(10vw);
		transition:2s ease;
	}
	50%{
		transform:translateX(15vw);
		transition:2s ease;
	}
	75%{
		transform:translateX(20vw);
		transition:2s ease;
	}
	100%{
		transform:translateX(25vw);
		transition:2s ease;
	}
}

.wrapper1{
	opacity:0;
}

.wrapper1:hover{
	opacity:1;
}

#button-37{
	background-color:#1B0078;
}

.output{
	color:#5140AB;
	line-height:33vh;
	font-size:100pt;
	letter-spacing: 2pt;
	overflow:hidden;
}

#button-38{
	background-color:olive;
}

.wrapper2{
	opacity:0;
}

.wrapper2:hover{
	opacity:1;
}

.magnifying-glass{
 	font-size: 10em;
 	display: inline-block;
 	width: 0.4em;
 	height: 0.4em;
 	border: 0.1em solid white;
 	position: relative;
 	border-radius: 0.35em;
 	margin-top:10vh;
 	opacity:0.5;
 	cursor:zoom-in;
}
.magnifying-glass::before{
	cursor:zoom-in;
 	content: "";
 	display: inline-block;
 	position: absolute;
 	right: -0.25em;
 	bottom: -0.1em;
 	border-width: 0;
 	background: white;
 	width: 0.35em;
 	height: 0.08em;
 	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
}

#button-39{
	background-color:#E8FFD5;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.worm{
	background-color:tan;
	width:17vw;
	height:12vh;
	border-radius:17vw;
	opacity:0;
}

.worm:active{
	opacity:1;
	animation: worm 4s ease infinite;
}

@keyframes worm{
	0%{
		width:17vw;
		height:12vh;
		border-radius:17vw;

	}
	25%{
		width:7vw;
		height:25vh;
		border-radius:7vw;
	}
	50%{
		width:17vw;
		height:12vh;
		border-radius:17vw;
	}
	75%{
		width:7vw;
		height:25vh;
		border-radius:7vw;
	}
	100%{
		width:17vw;
		height:12vh;
		border-radius:17vw;
	}
}

#button-40{
	background-color:orange;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.switch1{
	width:50%;
	height:50%;
	border-radius:3vh;
	background-color:#FFE865;
	opacity:0;
}

.switch1:hover{
	opacity:1;
}

.switch1:active{
	box-shadow: inset 0 0 1vw #000000;
}



