body{
	background-color:#D8B000;
	overflow-x:hidden;
}


.container1 {
	margin-top:-8vh;
	margin-left:68vw;
	padding-left:5vw;
	padding-top:80vh;
	padding-bottom:80vh;
	display:flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items:center;
	align-content:center;
	background-color:#626A03;
	height:450vh;
	width:30vw;
}

.container2 {
	margin-top:20vh;
	display:flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items:center;
	align-content:center;
}

.container3 {
	margin-top:8vh;
	display:flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items:flex-start;
	align-content:flex-start;
}

.item3{
	width:13vh;
	height:20vh;
	padding:2vh;
	margin-top:2vh;
	flex: 0 1 auto;
}

.item {
	width:20vh;
	height:20vh;
	padding:2vh;
	margin-top:2vh;
	flex: 0 1 auto;
}


.item:hover div{
	border-radius:0 !important;
	transition: 1s ease;
	cursor:crosshair;
}

.item3:hover div{
	border-radius:0 !important;
	transition: 1s ease;
	cursor:crosshair;
}

.showcaseitem:hover div{
	border-radius:0 !important;
	transition: 1s ease;
	cursor:crosshair;
}

.showcase{
	transform:scale(1.5);
	position:fixed;
	margin-left:9vw;
	margin-top:15vh;
	height:30vh;
	width:45vw;
	display:flex;
	justify-content: flex-start;
	align-items:flex-start;
	align-content:flex-start;
	flex-flow: row wrap;
	padding:10vh;
}

.showcaseitem{
	width:10vh;
	height:15vh;
	padding:1vh;
	margin-top:2vh;
	flex: 0 1 auto;
}

.thin{
	width:4vw;
}

.reallythin{
	width:2vw;
}

.olive{
	background:#D8B000 !important;
}

.showcaseitem:hover{
	border-color: #626A03 !important;
}


/*A*/

#A1{
	border: 1px solid white;
	height:10vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#A2{
	border: 1px solid white;
	margin-top:5vh;
	height:5vh;
	width:8vh;
	border-radius:3vh;
	background:#626A03;
	position:absolute;
}
 	
#A3{
	margin-top:3vh;
	height:7vh;
	width:8vh;
	background:#626A03;
	position:absolute;
}


/*B*/

#B1{
	border: 1px solid white;
	height:10vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#B2{
	border-left: 1px solid white;
	margin-top:-5vh;
	height:12vh;
	width:8vh;
	background:transparent;
	position:absolute;
}


/*C*/

#C1{
	border: 1px solid white;
	height:10vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#C2{
	margin-top:3vh;
	margin-left:1pt;
	height:4vh;
	width:9vh;
	background:#626A03;
	position:absolute;
}


/*D*/

#D1{
	border: 1px solid white;
	height:10vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#D2{
	border-right: 1px solid white;
	margin-left:1px;
	margin-top:-5vh;
	height:12vh;
	width:8vh;
	background:transparent;
	position:absolute;
}


/*E*/

#E1{
	border: 1px solid white;
	height:10vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#E2{
	border: 1px solid white;
	margin-top:0vh;
	height:5vh;
	width:8vh;
	border-radius:3vh;
	background:#626A03;
	position:absolute;
}

#E3{
	margin-top:0vh;
	margin-left:1pt;
	height:7vh;
	width:9vh;
	background:#626A03;
	position:absolute;
}


/*F*/

#F1{
	border: 1px solid white;
	margin-top:-5vh;
	height:5vh;
	width:5vh;
	border-radius:2.3vh;
	background:transparent;
	position:absolute;
}

#F2{
	border-left: 1px solid white;
	margin-top:-2vh;
	height:12vh;
	width:8vh;
	background:transparent;
	position:absolute;
}

#F3{
	margin-top:-2.5vh;
	margin-left:0.8pt;
	height:13vh;
	width:9vh;
	background:#626A03;
	position:absolute;
}


#F4{
	border-top: 1px solid white;
	margin-top:0vh;
	height:1pt;
	width:5vh;
	background:transparent;
	position:absolute;
}


/*G*/

#G1{
	border: 1px solid white;
	height:10vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#G2{
	border: 1px solid white;
	margin-top:0vh;
	height:15vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#G3{
	margin-top:0vh;
	height:12vh;
	width:8vh;
	background:#626A03;
	position:absolute;
}


/*H*/

#H1{
	border: 1px solid white;
	height:13vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#H2{
	border-left: 1px solid white;
	margin-top:-5vh;
	height:10vh;
	width:8vh;
	background:transparent;
	position:absolute;
}

#H3{
	margin-top:9.8vh;
	height:4vh;
	width:9vh;
	background:#626A03;
	position:absolute;
}


/*I*/

#I1{
	border: 1px solid white;
	margin-top:5vh;
	height:5vh;
	width:5vh;
	border-radius:2.3vh;
	background:transparent;
	position:absolute;
}

#I2{
	border-left: 1px solid white;
	margin-top:0.3vh;
	height:7vh;
	width:8vh;
	background:transparent;
	position:absolute;
}

#I3{
	margin-top:3vh;
	margin-left:0.8pt;
	height:5vh;
	width:9vh;
	background:#626A03;
	position:absolute;
}

#I4{
	border: 1px solid white;
	margin-top:-3.5vh;
	margin-left:-0.5vh;
	height:1vh;
	width:1vh;
	border-radius:1vh;
	background:transparent;
	position:absolute;
}


/*J*/

#J1{
	border: 1px solid white;
	margin-top:10vh;
	margin-left:-5.1vh;
	height:5vh;
	width:5vh;
	border-radius:2.3vh;
	background:transparent;
	position:absolute;
}

#J2{
	border: 1px solid white;
	margin-top:0.3vh;
	height:12vh;
	width:8vh;
	background:transparent;
	position:absolute;
}

#J3{
	margin-top:-5vh;
	margin-left:0.8pt;
	height:20vh;
	width:9vh;
	background:#626A03;
	position:absolute;
}

#J4{
	margin-top:3vh;
	margin-left:-6vh;
	height:10vh;
	width:6vh;
	background:#626A03;
	position:absolute;
}

#J5{
	border: 1px solid white;
	margin-top:-3.5vh;
	margin-left:-0.5vh;
	height:1vh;
	width:1vh;
	border-radius:1vh;
	background:transparent;
	position:absolute;
}


/*K*/

#K1{
	border-left: 1px solid white;
	margin-top:-5vh;
	height:15vh;
	width:8vh;
	background:transparent;
	position:absolute;
}

#K2{
	border-top: 1px solid white;
	margin-top:3vh;
	margin-left:-1vh;
	width:8vh;
	height:1pt;
	transform:rotate(-45deg);
	position:absolute;
}

#K3{
	border-top: 1px solid white;
	margin-top:7vh;
	margin-left:0.4vh;
	width:7.5vh;
	height:1pt;
	transform:rotate(50deg);
	position:absolute;
}


/*L*/

#L1{
	border: 1px solid white;
	margin-top:5vh;
	height:5vh;
	width:5vh;
	border-radius:2.3vh;
	background:transparent;
	position:absolute;
}

#L2{
	border-left: 1px solid white;
	margin-top:-5vh;
	height:13vh;
	width:8vh;
	background:transparent;
	position:absolute;
}

#L3{
	margin-top:3vh;
	margin-left:0.8pt;
	height:5vh;
	width:9vh;
	background:#626A03;
	position:absolute;
}


/*M*/

#M1{
	border: 1px solid white;
	height:13vh;
	width:5vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#M2{
	border: 1px solid white;
	margin-left:5.1vh;
	height:13vh;
	width:5vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#M3{
	margin-top:9.8vh;
	height:4vh;
	width:12vh;
	background:#626A03;
	position:absolute;
}


/*N*/

#N1{
	border: 1px solid white;
	height:13vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#N2{
	margin-top:9.8vh;
	height:4vh;
	width:8.5vh;
	background:#626A03;
	position:absolute;
}


/*O*/

#O1{
	border: 1px solid white;
	height:10vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}


/*P*/

#P1{
	border: 1px solid white;
	height:10vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#P2{
	border-left: 1px solid white;
	margin-top:3vh;
	height:12vh;
	width:8vh;
	background:transparent;
	position:absolute;
}


/*Q*/

#Q1{
	border: 1px solid white;
	height:10vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#Q2{
	border-right: 1px solid white;
	margin-left:1pt;
	margin-top:3vh;
	height:12vh;
	width:8vh;
	background:transparent;
	position:absolute;
}


/*R*/

#R1{
	border: 1px solid white;
	margin-top:vh;
	height:5vh;
	width:5vh;
	border-radius:2.3vh;
	background:transparent;
	position:absolute;
}

#R2{
	border-left: 1px solid white;
	margin-top:2vh;
	height:8vh;
	width:8vh;
	background:transparent;
	position:absolute;
}

#R3{
	margin-top:2vh;
	margin-left:1pt;
	height:5vh;
	width:9vh;
	background:#626A03;
	position:absolute;
}


/*S*/

#S1{
	border: 1px solid white;
	margin-top:0vh;
	height:5vh;
	width:8vh;
	border-radius:3vh;
	background:#626A03;
	position:absolute;
}

#S2{
	border: 1px solid white;
	margin-top:5vh;
	height:5vh;
	width:8vh;
	border-radius:3vh;
	background:#626A03;
	position:absolute;
}

#S3{
	margin-top:2vh;
	margin-left:2.5vh;
	height:4vh;
	width:7vh;
	background:#626A03;
	position:absolute;
}

#S4{
	margin-top:5.1vh;
	height:3vh;
	width:6vh;
	background:#626A03;
	position:absolute;
}


/*T*/

#T1{
	border: 1px solid white;
	margin-top:5vh;
	height:5vh;
	width:5vh;
	border-radius:2.3vh;
	background:transparent;
	position:absolute;
}

#T2{
	border-left: 1px solid white;
	margin-top:-5vh;
	height:12vh;
	width:8vh;
	background:transparent;
	position:absolute;
}

#T3{
	margin-top:0vh;
	margin-left:0.8pt;
	height:8vh;
	width:9vh;
	background:#626A03;
	position:absolute;
}


#T4{
	border-top: 1px solid white;
	margin-top:0vh;
	height:1pt;
	width:5vh;
	background:transparent;
	position:absolute;
}


/*U*/

#U1{
	border: 1px solid white;
	margin-top:-3vh;
	height:13vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#U2{
	margin-top:-4vh;
	height:4vh;
	width:12vh;
	background:#626A03;
	position:absolute;
}

/*V*/

#V1{
	border-top: 1px solid white;
	margin-top:8vh;
	margin-left:2.5vh;
	width:6vh;
	height:1pt;
	transform:rotate(-45deg);
	position:absolute;
}

#V2{
	border-top: 1px solid white;
	margin-top:8vh;
	margin-left:-1.7vh;
	width:6vh;
	height:1pt;
	transform:rotate(45deg);
	position:absolute;
}

#V3{
	border-right: 1px solid white;
	border-left: 1px solid white;
	margin-top:0vh;
	margin-left:-0.9vh;
	width:8.3vh;
	height:6vh;
	position:absolute;
}


/*W*/

#W1{
	border: 1px solid white;
	margin-top:-3vh;
	height:13vh;
	width:5vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#W2{
	border: 1px solid white;
	margin-left:5.1vh;
	margin-top:-3vh;
	height:13vh;
	width:5vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#W3{
	margin-top:-4vh;
	height:4vh;
	width:12vh;
	background:#626A03;
	position:absolute;
}


/*X*/

#X1{
	border-top: 1px solid white;
	margin-top:5vh;
	margin-left:-2vh;
	width:14vh;
	height:1pt;
	transform:rotate(-45deg);
	position:absolute;
}

#X2{
	border-top: 1px solid white;
	margin-top:5vh;
	margin-left:-2vh;
	width:14vh;
	height:1pt;
	transform:rotate(45deg);
	position:absolute;
}


/*Y*/

#Y1{
	margin-top:-3vh;
	border: 1px solid white;
	height:13vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#Y2{
	border: 1px solid white;
	margin-top:-3vh;
	height:18vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#Y3{
	margin-top:0vh;
	height:12vh;
	width:8vh;
	background:#626A03;
	position:absolute;
}

#Y4{
	margin-top:-3vh;
	height:3vh;
	width:10vh;
	background:#626A03;
	position:absolute;
}


/*Z*/

#Z1{
	border-top: 1px solid white;
	margin-top:5vh;
	margin-left:-2vh;
	width:14vh;
	height:1pt;
	transform:rotate(-45deg);
	position:absolute;
}

#Z2{
	border-top: 1px solid white;
	margin-top:0vh;
	margin-left:0;
	width:10vh;
	height:1pt;
	position:absolute;
}

#Z3{
	border-top: 1px solid white;
	margin-top:10vh;
	margin-left:0;
	width:10vh;
	height:1pt;
	position:absolute;
}


/*PERIOD*/

#period{
	border: 1px solid white;
	margin-top:9vh;
	margin-left:2vh;
	height:1vh;
	width:1vh;
	border-radius:1vh;
	background:transparent;
	position:absolute;
}


/*EXCLAMATION*/

#exclamation1{
	border: 1px solid white;
	margin-top:9vh;
	height:1vh;
	width:1vh;
	border-radius:1vh;
	background:transparent;
	position:absolute;
}

#exclamation2{
	border-left: 1px solid white;
	margin-left:0.5vh;
	margin-top:-5vh;
	height:12vh;
	width:1pt;
	background:transparent;
	position:absolute;
}


/*QUESTION*/

#question1{
	border: 1px solid white;
	margin-top:9vh;
	margin-left:1vh;
	height:1vh;
	width:1vh;
	border-radius:1vh;
	background:transparent;
	position:absolute;
}

#question2{
	border-left: 1px solid white;
	margin-left:1.5vh;
	margin-top:0vh;
	height:7vh;
	width:1pt;
	background:transparent;
	position:absolute;
}

#question3{
	border: 1px solid white;
	margin-top:-5.1vh;
	height:5vh;
	width:5vh;
	border-radius:5vh;
	margin-left:-1vh;
	background:transparent;
	position:absolute;
}

#question4{
	margin-top:-2.3vh;
	height:5vh;
	width:5vh;
	margin-left:-3.5vh;
	background:#626A03;
	position:absolute;
}


/*COMMA*/

#comma1{
	border: 1px solid white;
	margin-top:9vh;
	border-radius:2vh;
	margin-left:0vh;
	width:3vh;
	height:3vh;
	position:absolute;
}

#comma2{
	margin-top:8vh;
	margin-left:-2vh;
	transform:rotate(45deg);
	width:4vh;
	height:4vh;
	position:absolute;
	background-color:#626A03;
}


/*QUOTATION*/


.wide{
	width:60vh;
}

#quotation1{
	border: 1px solid white;
	margin-left:-3vh;
	margin-top:-5vh;
	border-radius:2vh;
	width:3vh;
	height:3vh;
	position:absolute;
}

#quotation2{
	margin-top:-6vh;
	margin-left:-2vh;
	transform:rotate(45deg);
	width:4vh;
	height:4vh;
	position:absolute;
	background-color:#626A03;
}

#quotation3{
	border: 1px solid white;
	margin-top:-5vh;
	margin-left:0vh;
	border-radius:2vh;
	width:3vh;
	height:3vh;
	position:absolute;
}

#quotation4{
	margin-top:-6vh;
	margin-left:1vh;
	transform:rotate(45deg);
	width:4vh;
	height:4vh;
	position:absolute;
	background-color:#626A03;
}

#quotation5{
	border: 1px solid white;
	margin-top:-5vh;
	margin-left:7vh;
	border-radius:2vh;
	width:3vh;
	height:3vh;
	position:absolute;
}

#quotation6{
	margin-top:-6vh;
	margin-left:5vh;
	transform:rotate(45deg);
	width:4vh;
	height:4vh;
	position:absolute;
	background-color:#626A03;
}

#quotation7{
	border: 1px solid white;
	margin-top:-5vh;
	margin-left:10vh;
	border-radius:2vh;
	width:3vh;
	height:3vh;
	position:absolute;
}

#quotation8{
	margin-top:-6vh;
	margin-left:8vh;
	transform:rotate(45deg);
	width:4vh;
	height:4vh;
	position:absolute;
	background-color:#626A03;
}

/*ZERO*/

#zero1{
	border: 1px solid white;
	height:15vh;
	margin-top:-5vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#zero2{
	border-top: 1px solid white;
	margin-top:3vh;
	margin-left:-1.6vh;
	width:11.4vh;
	height:1pt;
	transform:rotate(-45deg);
	position:absolute;
}


/*ONE*/

#one1{
	border-left: 1px solid white;
	margin-left:2vh;
	margin-top:-5vh;
	height:15vh;
	width:1pt;
	background:transparent;
	position:absolute;
}

#one2{
	border-left: 1px solid white;
	margin-left:0.5vh;
	margin-top:-5.5vh;
	height:4vh;
	width:1pt;
	transform:rotate(45deg);
	background:transparent;
	position:absolute;
}

#one3{
	border-bottom: 1px solid white;
	margin-left:-1vh;
	margin-top:9.9vh;
	height:1pt;
	width:6vh;
	background:transparent;
	position:absolute;
}


/*TWO*/

#two1{
	border: 1px solid white;
	margin-top:-5vh;
	height:4.9vh;
	width:8vh;
	border-radius:3vh;
	background:#626A03;
	position:absolute;
}

#two2{
	margin-top:-3vh;
	height:3vh;
	width:3vh;
	background:#626A03;
	position:absolute;
}

#two3{
	border-top: 0.5px solid white;
	border-left: 1px solid white;
	margin-top:-1px;
	height:5vh;
	width:8vh;
	border-radius:3vh;
	background:#626A03;
	position:absolute;
}

#two4{
	margin-left:2vh;
	height:7vh;
	width:7vh;
	background:#626A03;
	position:absolute;
}

#two5{
	margin-top:2vh;
	margin-left:0vh;
	height:7vh;
	width:7vh;
	background:#626A03;
	position:absolute;
}

#two6{
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	margin-top:2vh;
	height:8vh;
	width:8vh;
	background:transparent;
	position:absolute;
}


/*THREE*/

#three1{
	border: 1px solid white;
	margin-top:-5vh;
	height:5vh;
	width:8vh;
	border-radius:3vh;
	background:#626A03;
	position:absolute;
}

#three2{
	border: 1px solid white;
	margin-top:0vh;
	height:10vh;
	width:8vh;
	border-radius:3vh;
	background:#626A03;
	position:absolute;
}

#three3{
	margin-top:-3vh;
	height:11vh;
	width:3vh;
	background:#626A03;
	position:absolute;
}


/*FOUR*/

#four1{
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	margin-top:-5vh;
	height:5vh;
	width:8vh;
	background:transparent;
	position:absolute;
}

#four2{
	border-right: 1px solid white;
	margin-top:-5vh;
	height:15vh;
	width:8vh;
	background:transparent;
	position:absolute;
}


/*FIVE*/

#five1{
	border: 1px solid white;
	margin-top:-1vh;
	height:11vh;
	width:8vh;
	border-radius:3vh;
	background:#626A03;
	position:absolute;
}

#five2{
	margin-top:13vh;
	height:3vh;
	width:3vh;
	background:#626A03;
	position:absolute;
}

#five3{
	margin-top:1vh;
	height:7vh;
	width:7vh;
	background:#626A03;
	position:absolute;
}

#five4{
	border-left: 1px solid white;
	margin-top:-5vh;
	margin-left:1pt;
	height:6vh;
	width:8vh;
	background:transparent;
	position:absolute;
}

#five5{
	border-top: 1px solid white;
	margin-top:-5vh;
	margin-left:1pt;
	height:7vh;
	width:8vh;
	background:transparent;
	position:absolute;
}


/*SIX*/

#six1{
	border: 1px solid white;
	margin-top:-5vh;
	height:15vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#six2{
	border: 1px solid white;
	height:10vh;
	width:8vh;
	border-radius:3vh;
	background:#626A03;
	position:absolute;
}
 	
#six3{
	margin-top:-3vh;
	margin-left:2vh;
	height:7vh;
	width:8vh;
	background:#626A03;
	position:absolute;
}


/*SEVEN*/

#seven1{
	border-right: 1px solid white;
	border-top: 1px solid white;
	margin-top:-5vh;
	height:5vh;
	width:8vh;
	background:transparent;
	position:absolute;
}

#seven2{
	border-right: 1px solid white;
	margin-top:-4vh;
	margin-left:-3.2vh;
	transform:rotate(40deg);
	height:13vh;
	width:8vh;
	background:transparent;
	position:absolute;
}


/*EIGHT*/

#eight1{
	border: 1px solid white;
	margin-top:-5vh;
	height:4.9vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}

#eight2{
	border: 1px solid white;
	height:10vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}
 	

/*NINE*/

#nine1{
	border: 1px solid white;
	margin-top:-5vh;
	height:4.9vh;
	width:8vh;
	border-radius:3vh;
	background:#626A03;
	position:absolute;
}

#nine2{
	border: 1px solid white;
	margin-top:-5vh;
	height:15vh;
	width:8vh;
	border-radius:3vh;
	background:transparent;
	position:absolute;
}
 	
#nine3{
	margin-top:-4vh;
	margin-left:-1vh;
	height:12vh;
	width:4vh;
	background:#626A03;
	position:absolute;
}





/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/
/*//////////////////////////////////////////////*/




#fun{
	display: none;
}


@media only screen and (max-width:620px) {
  /* For mobile phones: */

.container{
  	display: none;
}

#fun{
	display: block;
	height: 100vh;
}

.newitem {
	display: none;
	transform:scale(3);
	transform-origin:top left;
	margin-top:30vh;
}

.item.show {
	display: block;
}
  

}
